<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <p> <h2>Explicación de los Casos de prueba </h2></td>
  </div>
<div class="col-sm-offset-3 col-sm-6">
  <table class="table table-condensed">
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=55&tcversion_id=56">compartir</a> </h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=108&tcversion_id=109">formularios</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=18&tcversion_id=19">home</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=110&tcversion_id=111">listado_ordenado</a> </h5>      </td>
    </tr>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=76&tcversion_id=77">mas_visitados </a></h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=70&tcversion_id=71">organismos</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=65&tcversion_id=66">sube</a> </h5>      </td>
    </tr>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=163&tcversion_id=164">turnos_status</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1669&tcversion_id=1670">turnos_usuario_organismo</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1675&tcversion_id=1676">turnos_usuario_area</a> </h5>      </td>
    </tr>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1680&tcversion_id=1681">turnos_usuario_pa [sección ADMINISTRAR] </a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1687&tcversion_id=1688">turnos_usuario_pa [sección RECEPCIÓN]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1690&tcversion_id=1691">turnos_usuario_pa [sección FILAS]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1693&tcversion_id=1694">turnos_usuario_pa [sección USUARIOS]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1697&tcversion_id=1698">turnos_usuario_pa [sección VENTANILLAS]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1700&tcversion_id=1701">turnos_usuario_pa [sección CARTELERAS]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1704&tcversion_id=1705">turnos_usuario_pa [sección TOD]</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1708&tcversion_id=1709">turnos_usuario_agente</a> </h5>      </td>
    </tr>
    <tr>
      <td>
        <h5><a target="_blank" href="https://testlink.argentina.gob.ar/lib/testcases/tcPrint.php?show_mode=&testcase_id=1717&tcversion_id=1718">turnos_usuario_ciudadano</a> </h5>      </td>
    </tr>
    </tr>

  </table>
</div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="col-sm-offset-3 col-sm-6">

      <h2>Instructivo de pruebas en GitLab </h2></td>

    <table>
      <tr>
        <td>
          <h5><a target="_blank" href="https://git.argentina.gob.ar/GobiernoDigital/casosdeprueba/wikis/instructivo">Repo Gitlab</a> </h5>      </td>
      </tr>
    </table>
    <br>
    <h2>Generar comentarios a los casos de prueba </h2></td>
    <br>
    <%= link_to 'Nuevo Caso de Prueba', new_article_path %>
    <table>
      <tr>
        <th>Titulo</th>
        <th>Texto</th>
        <th colspan="3"></th>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Editar Comentarios', article_path(article) %></td>
          <td><%= link_to 'Editar Casos Prueba', edit_article_path(article) %></td>
          <td><%= link_to 'Eliminar Casos Pueba', article_path(article),
                          method: :delete,
                          data: { confirm: '¿Esta usted seguro?' } %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Volver', 'https://portaldepruebas.argentina.gob.ar/' %>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>








</div>









