<!DOCTYPE html>
<html>
  <head>
    <title>Gobierno Digital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('Qa-4.png'), :rel => 'icon', :type =>  'image/png' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
